<div>
  <div class="ui secondary menu">
    <h3>Today's article</h3>
  </div>

  <button mat-raised-button (click)="openCreateForm()">Thêm mới</button>

  <table class="ui celled table">
    <thead>
    <tr>
      <th>Bài viết</th>
      <th>Thích</th>
      <th colspan="2">Tùy chọn</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let eachArticle of articles" [class.selected]="eachArticle === selectedArticle">
      <td hidden>{{eachArticle.id}}</td>
      <td><a href="{{eachArticle.url}}" target="_blank">{{eachArticle.title}}</a></td>
      <td><app-likes></app-likes></td>
      <td>
        <button mat-icon-button (click)="onSelect(eachArticle)">
          <mat-icon>border_color</mat-icon>
        </button>
      </td>
      <td>
        <button mat-icon-button (click)="deleteArticleFromService(eachArticle.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </tr>
    </tbody>
  </table>

</div>
