<div>
  <div class="ui secondary menu">
    <h3>Today's article</h3>
  </div>

  <button mat-raised-button (click)="openCreateForm()">Thêm mới</button>

  <table class="ui celled table">
    <thead>
    <tr>
      <th>Bài viết</th>
      <th>Thích</th>
      <th>Tùy chọn</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let eachArticle of articles" [class.selected]="eachArticle === selectedArticle">
      <td hidden>{{eachArticle.id}}</td>
      <td><a href="{{eachArticle.url}}" target="_blank">{{eachArticle.title}}</a></td>
      <td><app-likes></app-likes></td>
      <td><i class="edit icon" (click)="onSelect(eachArticle)" ></i> | <i class="trash alternate outline icon" (click)="deleteArticleFromService(eachArticle.id)"></i></td>
    </tr>
    </tbody>
  </table>

</div>
