<!--<div class="ui large form">-->
<!--  <div class="two fields">-->
<!--    <div class="field">-->
<!--      <label>Title</label>-->
<!--      <input placeholder="Title" type="text" id="title">-->
<!--    </div>-->
<!--    <div class="field">-->
<!--      <label>URL</label>-->
<!--      <input placeholder="URL" type="text" id="url">-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="ui submit button" (click)="saveArticleFromService()">Submit</div>-->
<!--  <div class="ui submit button" (click)="close()">Close</div>-->
<!--</div>-->
<div>
  11111111111111111111111111111111111111111111111
</div>
