/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
//a, p, h1, h2, h3 {
//  font-family: 'Montserrat', sans-serif;
//}

html, body { height: 100%; }
body { margin: 0; font-family: Montserrat, "Helvetica Neue", sans-serif; }

.full-width {
  width: 100%;
}

.form-size {
  height: 400px;
  width: 600px;
}
